.walkerCard {
    width: 35rem;
    margin: 1rem;
    max-height: 12rem;
    object-fit: cover;
    background-size: cover;

    &__image {
        object-fit: cover;
        background-size: cover;
    }
}